main {
    display: flex;
}
header h1 {
    border: 1px solid black;
    padding: 1em;
    display: flex;
    justify-content: center;
    background-image: url(../assets/images/blue.jpeg);
    background-size: cover;
    color: white;
}
#form {
    height: 3em;
}
#submit {
    /* display: flex; */
    border-radius: 25px;
    padding: 3px;
    margin: 5px;
    font-size: large;
}
#search-bar {
    padding: 10px;
    font-size: larger;
}
#current-weather {
    border: 1px solid black;
    margin: 10px;
}
#forecast {
    display: flex;
    justify-content: space-around;
}
#each-day-forecast {
    border: 1px solid black;
    padding: 1em;
    display: inline-block;
    background-color: navy;
    color: white;
    margin: 5px;
}
@media screen and (max-width: 768px) {

    #forecast {
        display: flex;
        flex-direction: column;
    }
}